@import "../../../styles/variables.scss";

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-color;
    font-size: 16px;
    text-align: start;
    //background-color: #1e7e34;
    height: 100px;

    label {
      width: 80%;
      text-align: left;
      margin-bottom: 15px;
    }

    .input-content {
        width: 80%;
        border-radius: 8px;
        display: flex;

        .icon {
            padding: 12px;
            background-color: $primary-color;
            border-radius: 0 8px 8px 0;

            img {
                height: 20px;
            }
        }

        input {
            border: none;
            border-radius: 8px 0 0 8px;
            background-color: $gray-secondary-bg;
            padding: 12px 0 12px 20px;
            width: 100%;
        }
    }
}
