@import "../../../styles/variables.scss";

.input-wrapper {
    color: #2c2c2c;
    font-size: 16px;
    text-align: start;

    label {
      letter-spacing: 1.5px;
      font-weight: 600;
    }

    .input-content {
      width: 100%;
      margin: 10px 0px 10px 0px;
      display: flex;

        input {
          border: none;
          border-radius: 8px;
          outline-style: solid;
          outline-width: medium;
          background-color: $gray-secondary-bg;
          padding: 12px 0 12px 20px;
          width: 100%;
        }
    }
}
