<main>
  <section class="form-section">
    <h2>{{title}}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button aria-label="Submit" class="btn-primary" (click)="submit()">{{primaryBtnText}}</button>
      <div class="divider">
        <div>ou</div>
      </div>
      <button class="btn-secondary" (click)="navigate()">{{secondaryBtnText}}</button>
    </div>
  </section>
  <section class="main-section">
    <img src="/assets/svg/login-illustration.svg" alt="Ilustração de login" />
  </section>
</main>
