@import "../../../styles/variables.scss";

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-section {
    gap: 8px;
    max-width: 50%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-bg;
    padding: 20px;

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  .form-section {
    flex-grow: 0.5;
    padding: 0 35px;

  .header{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    justify-content: center;
    margin-bottom: 30px;

    h2 {
      color: #4a40e0;
      width: 100%;
      font-size: 60px;
      font-weight: bold;
    }

    .sub-title{
      font-size: 22px;
      font-weight: bold;
      color: #5c76f2;
      letter-spacing: 1.5px;
    }
  }


    .btn-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      width: 100%;
      gap: 15px;

      button {
        width: 100%;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 700;
        border: none;
        background: #1c1c1c;
        color: white;
        margin-top: 15px;
        padding: 12px 24px;
        cursor: pointer;
        transition: all 500ms ease;

        &:hover {
          background-color: #313131;
        }

        &:disabled {
          opacity: 0.8;
        }

        &.btn-secondary {
          background-color: transparent;
          border: 1px solid #1c1c1c;
          color: #1c1c1c;
        }

        &.btn-secondary:hover{
          background-color: #1c1c1c;
          border: 1px solid #1c1c1c;
          color: #f9f9f9;
        }
      }
    }
  }
}


