.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #f8f5f2;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  margin-top: 37px;
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.card-body {
  flex-direction: column;
  justify-content: center;
  margin-top: 36px;
}

.card-body-product {
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid #28a745;
  background-color: transparent;
  color: #28a745;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #28a745;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: scale(0.98);
}

